<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Alteração de senha</title>
  <link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>

<body>

  {% if error_message %}
  <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}

  <div class="container center">
    <h1 class="title">Alteração de senha</h1>
    <form method="POST" action="" name="form-password">
      <div class="form-group">
        <label for="currentPassword"></label>
        <input type="password" name="currentPassword" id="currentPassword" aria-label="currentPassword"
          placeholder="Senha atual" />
      </div>
      <div class="form-group">
        <label for="newPassword"></label>
        <input type="password" name="newPassword" id="newPassword" aria-label="newPassword" placeholder="Nova senha"
          />
      </div>
      <div class="form-group">
        <label for="repeatedPassword"></label>
        <input type="password" name="repeatedPassword" id="repeatedPassword" aria-label="repeatedPassword"
          placeholder="Repita a senha" />
      </div>

      <input type="hidden" name="_csrf" value="{{ csrf_token }}" required />
      <button class="btn" type="submit" name="btn-recover">Alterar</button>
    </form>
  </div>
</body>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/changePassword/index.js"></script>

</html>
