{% extends "layouts/base.twig" %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<div class="container center">
  <h1>{{ title }}</h1>
  <form method="POST" action="" name="form-password">
    <div class="form-group">
      <label for="currentPassword"></label>
      <input type="password" name="currentPassword" id="currentPassword" aria-label="currentPassword"
        placeholder="Senha atual" />
    </div>
    <div class="form-group">
      <label for="newPassword"></label>
      <input type="password" name="newPassword" id="newPassword" aria-label="newPassword" placeholder="Nova senha" />
    </div>
    <div class="form-group">
      <label for="repeatedPassword"></label>
      <input type="password" name="repeatedPassword" id="repeatedPassword" aria-label="repeatedPassword"
        placeholder="Repita a senha" />
    </div>

    <input type="hidden" name="_csrf" value="{{ csrf_token }}" required />
    <button class="btn" type="submit" name="btn-recover">Alterar</button>
  </form>
</div>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/changePassword/index.js"></script>
{% endblock %}
