{% extends "layouts/base.twig" %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<div class="container center">
  <h1>{{ title }}</h1>
  <form method="POST" action="" name="form-reset-password">
    <div class="form-group">
      <label for="password"></label>
      <input type="password" name="password" id="password" aria-label="password" placeholder="Nova senha" minlength="8"
        maxlength="50" required />
    </div>
    <div class="form-group">
      <label for="repeatedPassword"></label>
      <input type="password" name="repeatedPassword" id="repeatedPassword" aria-label="repeatedPassword"
        placeholder="Repita a senha" minlength="8" maxlength="50" required />
    </div>

    <input type="hidden" name="_csrf" value="{{ csrf_token }}" required />
    <button class="btn" type="submit" name="btn-reset-password">Resetar</button>
  </form>
</div>

<script type="module" src="{{ constant('BASE_URL') }}assets/js/resetPassword/index.js"></script>
{% endblock %}
